* {
  box-sizing:border-box;
  overflow: auto;
  }

h1 {
  margin-bottom: 15px;
  text-align: center;
}

.row {
  width: 100%;
}

.box {
    background-color: lightgray;
    border: 1px solid black;
    height: auto;
     }

.A {
   background-color: pink;
   text-align: center;
   border: 1px solid black;
   width: 100px;
   height: 30px;
   position: relative;
   padding: 0px;
   margin-left: auto;
   }

.B {
    background-color:lightcoral;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    position: relative;
    padding: 0px;
    margin-left: auto;
   }

.C {
    background-color: lemonchiffon;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    position: relative;
    padding: 0px;
    margin-left: auto;
   }

p {
    margin-top: auto;
  }



/********** In desktops **********/
@media (min-width: 992px) {
        .box {
    width: 30%;
    float: left;
     margin-left: 20px;
  }
   
}


/********** In tablets **********/
@media (min-width: 768px) and (max-width: 991px) {
   .box {
    width: 40%;
    margin-top: 20px;
  }
  #sushi {
    width: 90%;
  }
 
}
        /********** In mobiles **********/
@media (max-width: 767px) {
    .box {
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
  }
   
}

